#Exclude the virtual environment folder
.venv/

#Exclude the pychache folders
__pycache__/

#Exclude datasets, models, and large data arrays
KRI-16IQImbalances-DemodulatedData/
neu_m044q5210/
datasets/oracle/
results/
src/datasets/WiSig

#Exclude report files
oracle_report.txt