#Exclude the virtual environment folder
.venv/

#Exclude the pychache folders
__pycache__/

#Exclude datasets and large data arrays
KRI-16IQImbalances-DemodulatedData/
datasets/oracle/
src/datasets/dataset2/
results/